@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background: #82708B;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 3rem;
}

h1{
    font-size: 3rem;
}

h1::first-letter{
    font-size: 4rem;
}



.calc-buttons{
    width: 100%;
}

.button-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 0.6rem;
}

footer{
    display: flex;
    width: 100%;
}

.opClick{
    background: #856574;
}

.fontSmall{
    font-size: 1rem;
}


/*Windows 95*/
#taskbar{
    background: #b58ea0;
}

#start, #tab{
    height: 1.5rem;
    margin: 0.1rem 0;
    text-align: left;
    padding-left: 0.1rem;
}

button#start{
    margin: 0.1rem 0.2rem;
    border: 1px bevel rgb(144, 92, 101);
    background: transparent;
    width: 4rem;
}

#tab{
    width: 10rem;
    border: 1px inset rgb(144, 92, 101);
    background: #c9a0b3;
}

#win{
    background-color: #b58ea0;
    width: 25vw;
    height: 70vh;
    margin-top: 8vh;
    border: 1px ridge rgb(144, 92, 101);
}

.titlebar{
    width: 99%;
    background: #644771;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5%;
}

button.action{
    background: #b58ea0;
    border: 1px bevel rgb(144, 92, 101);
    width: 3.5vh;
    height: 3.5vh;
}

.menubar{
    display: flex;
    width: 99.5%;
    padding-left: 0.5%;
    padding-bottom: 0.5%;
    gap: 1.5%;
    border-bottom: 1px inset rgb(144, 92, 101);
}

.menu-item::first-letter{
    text-decoration: underline;
}

.calc-body{
    margin-top: 1vh;
    width: 90%;
}

.calc-screen{
    height: 10vh;
    background: #323030;
    margin-bottom: 0.5rem;
    padding-left: 0.3rem;
    display: flex;
    align-items: center;
}

button#zero{
    width: 22.5vh;
}

button.num, button.op, button.ctrl{
    height: 7vh;
    width: 10vh;
    background: transparent;
}


button.num:hover, button.op:hover, button.ctrl:hover{
    background: #856574;
}
